<html>
<body>
<form action="/login/go" method="post">
{% csrf_token %}
<fieldset>
{%  if login == 0 %}
    <b>Login Failed! Incorrect Username or Password</b><br>
{% endif %}
<p>Existing Users</p>
<table border="1">
<tr>
<td>Username:</td>
<td><input type="text" name="username" /></td>
</tr>
<tr>
<td>Password: </td>
<td><input type="password" name="password" /></td>
</tr>
</table>
<input type="submit" value="Login">
</fieldset>

</form>

<form action="/login/new_user" method="post">
{% csrf_token %}

<fieldset>
<p>New Users</p>
<table border="1">
<tr>
<td>Username:</td>
<td><input type="text" name="username_new" /></td>
</tr>
<tr>
<td>Password: </td>
<td><input type="password" name="password_new" /></td>
</tr>
</table>
<input type="submit" value="Register">
</fieldset>

</form>
</body>
</html>
