<html>
<body>
<form action="">
{% csrf_token %}
<fieldset>
<p>Existing Users</p>
Username: <input type="text" name="username" /><br />
Password: <input type="password" name="password" /><br/>
<input type="button" value="Login">
</fieldset>

<fieldset>
<p>New Users</p>
Name: <input type="text" name="name" /><br />
Username: <input type="text" name="username" /><br />
Password: <input type="password" name="password" /><br/>
Confirm Password: <input type="password" name="confirm_password" /><br/>
Email: <input type="text" name="email" /><br />
<input type="button" value="Register">
</fieldset>

</form>
</body>
</html>

